// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
// UNCOMMENT THIS TO ENABLE BACKGROUND MAPS
//startupmenu

sv_unlockedchapters 99

alias use_melee_merc 	"use tf_weapon_claws; use tf_weapon_crowbar; use tf_weapon_lead_pipe" 
alias use_melee_tf 		"use tf_weapon_bat; use tf_weapon_umbrella; use tf_weapon_shovel; use tf_weapon_fireaxe; use tf_weapon_bottle; use tf_weapon_fists; use tf_weapon_wrench; use tf_weapon_bonesaw; use tf_weapon_club; use tf_weapon_knife" 
alias use_melee_tfc		"use tfc_weapon_umbrella; use tfc_weapon_wrench; use tfc_weapon_medkit; use tfc_weapon_knife" 

alias use_melee			"use_melee_tfc; use_melee_tf; use_melee_merc" 

alias use_chainsaw 		"use tf_weapon_chainsaw"

alias use_pistol 	"use tfc_weapon_railpistol; use tf_weapon_pistol_scout; use tf_weapon_pistol; use tf_weapon_pistol_mercenary;use tf_weapon_pistol_akimbo"

alias use_revolver 	"use tf_weapon_revolver; use tf_weapon_revolver_mercenary"

alias use_shotgun 	"use tfc_weapon_shotgun_sb; use tfc_weapon_shotgun_db; use tf_weapon_shotgun"
alias use_supersg 	"use tf_weapon_supershotgun; use tf_weapon_eternalshotgun"

alias use_smg 		"use tf_weapon_smg; use tf_weapon_smg_mercenary; use tf_weapon_tommygun"
alias use_mini 		"use tf_weapon_minigun; use tf_weapon_gatlinggun"

alias use_rifle 	"use tf_weapon_assaultrifle"
alias use_rail 		"use tf_weapon_sniperrifle; use tf_weapon_railgun"

alias use_nail 		"use tfc_weapon_nailgun; use tfc_weapon_nailgun_super; use tf_weapon_nailgun"
alias use_fire 		"use tfc_weapon_flamethrower; use tf_weapon_flamethrower_pyro; use tf_weapon_flamethrower"
alias use_lightgun 	"use tf_weapon_lightning_gun"

alias use_dynamite 	"use tf_weapon_dynamite_bundle"
alias use_gl 		"use tfc_weapon_grenadelauncher; use tf_weapon_grenadelauncher; use tf_weapon_grenadelauncher_mercenary"
alias use_rocket 	"use tfc_weapon_rpg; use tf_weapon_rocketlauncher_dm; use tf_weapon_rocketlauncher"

alias use_super 	"use tf_weapon_super_rocketlauncher; use tf_weapon_gib; use tf_weapon_gravitygauntlets"


//
// to fix sprays not saving
//
exec config.cfg

// improvements for some default cvars

g_ragdoll_maxcount 8
r_maxmodeldecal 32
ai_force_serverside_ragdoll	1
cl_ragdoll_collide 1
r_decal_overlap_area 0.5
r_decal_overlap_count 9
r_decal_cover_count 9
engine_no_focus_sleep 0
r_hunkalloclightmaps 0 // fix another engine allocation bug
mat_requires_rt_alloc_first 0 // improve load times
datacachesize 208 // fix an engine level allocation bug

// fixes dynamic light issues
r_flashlightscissor 0