// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
// UNCOMMENT THIS TO ENABLE BACKGROUND MAPS
//startupmenu

sv_unlockedchapters 99

alias use_shotgun "use tf_weapon_shotgun"
alias use_melee1 "use tf_weapon_fists;use tf_weapon_fireaxe;use tf_weapon_club; use tf_weapon_bottle; use tf_weapon_bonesaw"
alias use_melee2 "use tf_weapon_bat;use tf_weapon_wrench;use tf_weapon_shovel; use tf_weapon_crowbar; use tf_weapon_knife"
alias use_melee "use_melee1;use_melee2"
alias use_rocket "use tf_weapon_rocketlauncher; use tf_weapon_rocketlauncher_dm"
alias use_pistol "use tf_weapon_pistol;use tf_weapon_pistol_scout;use tf_weapon_pistol_mercenary;use tf_weapon_pistol_akimbo"
alias use_smg "use tf_weapon_smg;use tf_weapon_smg_mercenary"
alias use_fire "use tf_weapon_flamethrower"
alias use_gl "use tf_weapon_grenadelauncher;use tf_weapon_grenadelauncher_mercenary"
alias use_revolver "use tf_weapon_revolver;use tf_weapon_revolver_mercenary"
alias use_scatter "use tf_weapon_scattergun"
alias use_supersg "use tf_weapon_supershotgun"
alias use_nail "use tf_weapon_nailgun"
alias use_syringe "use tf_weapon_syringegun_medic"
alias use_sticky "use tf_weapon_pipebomblauncher"
alias use_mini "use tf_weapon_minigun;use tf_weapon_gatlinggun"
alias use_snip "use tf_weapon_sniperrifle"
alias use_rail "use tf_weapon_railgun"
alias use_dynamite "use tf_weapon_dynamite_bundle"
alias use_rifle "use tf_weapon_assaultrifle"
alias use_tripmine "use tf_weapon_tripmine"
alias use_lightgun "use tf_weapon_lightning_gun"

//
// to fix sprays not saving
//
exec config.cfg

// improvements for some default cvars

g_ragdoll_maxcount 8
r_maxmodeldecal 32
ai_force_serverside_ragdoll	1
cl_ragdoll_collide 1
r_decal_overlap_area 0.5
r_decal_overlap_count 9
r_decal_cover_count 9
engine_no_focus_sleep 0
r_hunkalloclightmaps 0 // fix another engine allocation bug
mat_requires_rt_alloc_first 0 // improve load times
datacachesize 208 // fix an engine level allocation bug

// fixes dynamic light issues
r_flashlightscissor 0